*.py[cod]
quickguide_.py
quickguide_.ipynb
quickguide__.ipynb
*.wpr
*.lnk
*.pdf
.coverage
sdepy/tests/cfr/*_realized.txt
sdepy/tests/cfr/*.png
doc/_build/*
doc/generated/*
build/*
dist/*
*egg-info/*

